//Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

//UniNeue
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeue/UniNeueBold.woff') format('woff'),
    url('../fonts/UniNeue/UniNeueBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'UniNeue';
    src: url('../fonts/UniNeue/UniNeueRegular.woff') format('woff'),
    url('../fonts/UniNeue/UniNeueRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}